#container-slider{
    background-color: #0ECF95;
}
.carousel-item {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
#form-container {
  background: rgba(243, 247, 249, 0.9);
  padding: 20px;
  border-radius: 10px;
}
.btn-rounded {
  border-radius: 50px;
}
